<div class="alert alert-warning">                   
    {{ msg_about_this_form_to_user | safe }}
</div>

<!-- DADOS GERAIS DO FORMULÁRIO / ANÁLOGOS A CLASS ABSTRACT DO MODELS, MENOS PARA OS CHECKS DAS SUBSTÂNCIAS EXAMINADAS -->
<!-- DADOS GERAIS DO FORMULÁRIO -->
<div class="item-group form-group border p-3 mb-3">

    <!-- Primeira Linha -->
    <div class="form-group d-flex justify-content-between">
        <div class="form-group">
            <label for="laudo">Laudo</label>
            <input type="text" id="laudo" name="laudo" class="form-control text-uppercase" required value="{{ protocol_prefix }}">
        </div>
        <div class="form-group">
            <label for="protocolo">Protocolo</label>
            <input type="text" id="protocolo" name="protocolo" class="form-control text-uppercase" required value="{{ protocol_prefix }}">
        </div>
        <div class="form-group">
            <label for="boletim">Boletim</label>
            <input type="text" id="boletim" name="boletim" class="form-control text-uppercase" required>
        </div>
    </div>

    <!-- Segunda Linha -->
    <div class="form-group d-flex justify-content-between">
        <div class="form-group flex-fill mr-2">
            <label for="delegacia">Delegacia</label>
            <input type="text" id="delegacia" name="delegacia" class="form-control" required value="{{ delegacia }}">
        </div>
        <div class="form-group flex-fill ml-2">
            <label for="autoridade_requisitante">Autoridade Requisitante</label>
            <input type="text" id="autoridade_requisitante" name="autoridade_requisitante" class="form-control" required>
        </div>
    </div>

    <!-- Terceira Linha -->
    <div class="form-group d-flex justify-content-between">
        <div class="form-group">
            <label for="data_atendimento">Data do Atendimento</label>
            <input type="date" id="data_atendimento" name="data_atendimento" class="form-control" value="{{ before_date|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group">
            <label for="hora_atendimento">Hora do Atendimento</label>
            <input type="time" id="hora_atendimento" name="hora_atendimento" class="form-control" value="{{ before_time }}" required>
        </div>
        <div class="form-group">
            <label for="data_liberacao">Data da Liberação</label>
            <input type="date" id="data_liberacao" name="data_liberacao" class="form-control" value="{{ today_date|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group">
            <label for="hora_liberacao">Hora da Liberação</label>
            <input type="time" id="hora_liberacao" name="hora_liberacao" class="form-control" value="{{ current_time }}" required>
        </div>
    </div>
</div>
