{% load form_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    


    {% if user.is_authenticated %}
      {% if user.dark_theme %}
        <link rel="stylesheet" href="{% static 'css/darkstyles.css' %}">
        {% else %}
        <link rel="stylesheet" href="{% static 'css/clearstyles.css' %}">
      {% endif %}
    {% else %}
      <link rel="stylesheet" href="{% static 'css/darkstyles.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/toolbarstyle.css' %}">
    <title>MyReport</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand text-white" href="{% url 'home' %}">MyReport</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
          </li>
    
          {% if user.is_authenticated %}
            <!-- Menu expansivo para 'Formulários' -->
            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle text-white" 
                href="#" 
                id="formsDropdown" 
                role="button" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                Posts
              </a>
              <div class="dropdown-menu" aria-labelledby="formsDropdown">
                <a class="dropdown-item" href="{% url 'create_post' %}">Criar</a>
                <a class="dropdown-item" href="{% url 'show_posts' %}">Exibir</a>
              </div>
            </li>


            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle text-white" 
                href="#" 
                id="formsDropdown" 
                role="button" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                Formulários
              </a>
              <div class="dropdown-menu" aria-labelledby="formsDropdown">
                <a class="dropdown-item" href="#">Formulário 1</a>
                <a class="dropdown-item" href="#">Formulário 2</a>
              </div>
            </li>
    
            <!-- Menu expansivo para 'Laudo' -->
            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle text-white" 
                href="#" 
                id="reportDropdown" 
                role="button" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                Laudo
              </a>
              <div class="dropdown-menu" aria-labelledby="reportDropdown">
                <a class="dropdown-item" href="#">Novo</a>
                <a class="dropdown-item" href="#">Lista</a>
              </div>
            </li>
    
            <!-- Menu do usuário -->
            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle text-white" 
                href="#" 
                id="userDropdown" 
                role="button" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'complete_registration' user.id %}">Perfil</a>
                <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </div>
            </li>
          {% else %}
            <!-- Links para Login e Registro -->
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    

    <div class="container">
      
      <div class="container-fluid d-flex flex-column min-vh-100">
        <!-- Cabeçalho ou menu de navegação -->
        <header>
          <!-- Adicione aqui o cabeçalho, se necessário -->
        </header>
      
        
      
          <!-- Coluna central mais larga -->
          <div class="block-center">
            {% block center_content %}
            <!-- Conteúdo central -->
            <h1>Base.html</h1>
            {% endblock center_content %}
          </div>
      
          
      
        <!-- Rodapé -->
        
      </div>
      </div>
      <footer class="footer text-center py-3 mt-12">
        <p class="mb-0">MyReport - Todos os direitos reservados © 2025</p>
      </footer>
      
    <!-- JavaScript (Opcional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/myreport_js.js' %}"></script>    
    {% block scripts %}
    <!-- Espaço para o js exclusivo de cada página -->
    {% endblock scripts %}
  </body>
</html>
