{% extends "base.html" %}

{% block title %}Entorpecentes - Constatação Provisória{% endblock title %}

{% block content %}

    <h2 class="titulo-2">Entorpecentes - Constatação Provisória</h2>

<form id="drug-report-form" method="post" action="{% url 'drugs_report' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="alert alert-warning">                   
        {{ msg_about_this_form_to_user | safe }}
    </div>

    <!-- DADOS GERAIS DO FORMULÁRIO / ANÁLOGOS A CLASS ABSTRACT DO MODELS, MENOS PARA OS CHECKS DAS SUBSTANCIAS EXAMINADAS -->
    <div class="item-group form-group border p-3 mb-3">
        <div class="form-group d-flex justify-content-between">
            <div class="form-group">
                <label for="protocolo">Protocolo</label>
                <input type="text" id="protocolo" name="protocolo" class="form-control text-uppercase" required value="{{ protocol_prefix }}">
            </div>
            <div class="form-group">
                <label for="boletim">Boletim</label>
                <input type="text" id="boletim" name="boletim" class="form-control text-uppercase" required>
            </div>
            <div class="form-group">
                <label for="delegacia">Delegacia</label>
                <input type="text" id="delegacia" name="delegacia" class="form-control" required value="{{ delegacia }}">
            </div>
            <div class="form-group">
                <label for="autoridade_requisitante">Autoridade Requisitante</label>
                <input type="text" id="autoridade_requisitante" name="autoridade_requisitante" class="form-control" required>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="form-group">
                <label for="data_atendimento">Data do Atendimento</label>
                <input type="date" id="data_atendimento" name="data_atendimento" class="form-control" value="{{ before_date|date:'Y-m-d' }}" required>
            </div>
            <div class="form-group">
                <label for="hora_atendimento">Hora do Atendimento</label>
                <input type="time" id="hora_atendimento" name="hora_atendimento" class="form-control" value="{{ before_time }}" required>
            </div>
            <div class="form-group">
                <label for="data_liberacao">Data da Liberação</label>
                <input type="date" id="data_liberacao" name="data_liberacao" class="form-control" value="{{ today_date|date:'Y-m-d' }}" required>
            </div>
            <div class="form-group">
                <label for="hora_liberacao">Hora da Liberação</label>
                <input type="time" id="hora_liberacao" name="hora_liberacao" class="form-control" value="{{ current_time }}" required>
            </div>
        </div>    
        <div class="form-group">
            <label>Substâncias Examinadas:</label>
            <div class="form-group d-flex align-items-center justify-content-between">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxMaconha" name="substance[]" value="maconha" checked>
                    <label class="form-check-label" for="checkboxMaconha">Maconha</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxCocaina" name="substance[]" value="cocaina" checked>
                    <label class="form-check-label" for="checkboxCocaina">Cocaína</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxCrack" name="substance[]" value="crack" checked>
                    <label class="form-check-label" for="checkboxCrack">Crack</label>
                </div>
            </div>            
            <div class="form-group">
                <label for="allMaterialObservations">Observações</label>
                <textarea class="form-control" id="allMaterialObservations" name="allMaterialObservations" rows="3" placeholder="Opcional."></textarea>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">

                <!--
                <div class="form-check form-check-inline">
                    <input type="file" class="form-control-file" id="imgOfAllMaterialReceived" name="imgOfAllMaterialReceived" accept="image/*">
                </div>
                <div class="form-check form-group w-100">
                    <label for="imagem-legenda">Legenda da imagem</label>
                    <input type="text" class="form-control" id="labelOfImgOfAllMaterialReceived" name="labelOfImgOfAllMaterialReceived" value="Material recebido.">
                </div>

                <input type="file" id="uploadImage" onchange="handleImageResize(event)" />
                <img id="preview" src="" alt="Preview" />

                    -->

                    <input type="hidden" id="imageGeneralBase64" name="imageGeneralBase64">  <!-- Input invisível para armazenar a imagem em Base64 -->
                    <input type="file" id="uploadGeneralImage" name="uploadGeneralImage">
                    <input type="text" class="form-control" id="labelOfImgOfAllMaterialReceived" name="labelOfImgOfAllMaterialReceived" value="Material recebido.">


            </div>
        </div>        
    </div>

    <!-- PESSOAS ENVOLVIDAS / PELO MENOS UMA É OBRIGATÓRIO, AS DEMAIS GERADAS DINAMICAMENTE A CRITÉIO DO USUÁRIO -->
    <div id="people-involved-container">
        <label>Pessoas Envolvidas</label>
        <div class="form-group d-flex align-items-center">
            <input type="text" name="people_involved[]" class="form-control people-involved" placeholder="Nome da Pessoa" required>
            <button type="button" class="btn btn-secondary ml-2 add-person">+</button>
        </div>
    </div>

    <!-- ITENS EXAMINADOS / ESPECÍFICOS DA CLASSE MODEL DRUGS QUE EXTENDE DA CALSSE BASE / PELO MENOS UM É OBRIGATÓRIO, OUTROS ACRESCIDOS DINAMICAMENTE -->
    <div id="item-container">
        <label>Itens</label>    
        <div class="item-group form-group border p-3 mb-3">
            <div class="item-header-dark mb-2">
                <h5 name="item_header[]">Item Único</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="packaging">Invólucro</label>
                    <select id="packaging" name="packaging[]" class="form-control">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="morphology">Morfologia</label>
                    <select id="morphology" name="morphology[]" class="form-control">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>    
                <div class="form-group col-md-3">
                    <label for="massa-bruta">Massa Bruta (g)</label>
                    <input type="number" step="0.01" name="massa_bruta[]" id="massa-bruta" class="form-control" placeholder="Massa Bruta" required>
                </div>    
                <div class="form-group col-md-3">
                    <label for="massa-liquida">Massa Líquida (g)</label>
                    <input type="number" step="0.01" name="massa_liquida[]" id="massa-liquida" class="form-control" placeholder="Massa Líquida" required>
                </div>                    
            </div>    
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="d-flex flex-column">
                        <div class="form-check">
                            <input type="checkbox" name="devolvido[]" id="devolvido" class="form-check-input" checked>
                            <label for="devolvido" class="form-check-label">Devolvido</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="contrapericia[]" id="contrapericia" class="form-check-input" checked>
                            <label for="contrapericia" class="form-check-label">Contraperícia</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="examresulting">Resultado do Exame</label>
                    <select id="examresulting" name="examresulting[]" class="exam-resulting form-control">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="lacre-entrada">Lacre de Entrada</label>
                    <input type="text" name="lacre_entrada[]" id="lacre-entrada" class="form-control" placeholder="Lacre de Entrada" style="text-transform: uppercase;" required>
                </div>    
                <div class="form-group col-md-3">
                    <label for="lacre-saida">Lacre de Saída</label>
                    <input type="text" name="lacre_saida[]" id="lacre-saida" class="form-control" placeholder="Lacre de Saída" style="text-transform: uppercase;" required value="{{ lacre_saida }}">
                </div>
            </div>    
            <div class="form-group">
                <label for="packagingAndMorphologiObservations">Invólucros e Morfologia</label>
                <textarea class="form-control" id="packagingAndMorphologiObservations" name="packagingAndMorphologiObservations[]" rows="3" placeholder="Texto exibido no laudo."></textarea>
            </div>
            <div class="form-group">
                <label for="resultOfExams">Resultado do Exame</label>
                <textarea class="form-control" id="resultOfExams" name="resultOfExams[]" rows="3" placeholder="Texto exibido no laudo."></textarea>
            </div>    
            <div class="d-flex align-items-center">



<!--
                <input type="file" class="form-control-file" id="imgOfExaminatedItem" name="imgOfExaminatedItem[]" accept="image/*">
                <div class="form-check form-group flex-grow-1 mx-3 w-100">
                    <label for="imagem-legenda_item">Legenda da Imagem</label>
                    <input type="text" class="form-control" id="imagem-legenda_item" name="imagem_legenda_item[]" value="Item examinado">
                </div>


-->


                <input type="hidden" id="imageItemExaminatedBase64" name="imageItemExaminatedBase64[]">  <!-- Input invisível para armazenar a imagem em Base64 -->
                <input type="file" id = "uploadItemExaminatedImage" name="uploadItemExaminatedImage[]">
                <div class="form-check form-group flex-grow-1 mx-3 w-100">
                    <label for="imagem-legenda_item">Legenda da Imagem</label>
                    <input type="text" class="form-control" id="labelOfImgItemExaminatedReceived" name="labelOfImgItemExaminatedReceived[]" value="Material recebido.">
                </div>




                <button type="button" class="btn btn-secondary ml-auto add-item">+</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="item-group form-group border p-3 mb-3">
    <div class="form-group d-flex justify-content-between">
        <div class="form-check form-group">
            <label for="material-devolvido">Material Devolvido</label>
            <input type="file" class="form-control-file" id="material-devolvido" name="material_devolvido" accept="image/*">
        </div>
        <div class="form-check form-group w-100">
            <label for="material-devolvido-legenda">Legenda da imagem</label>
            <input type="text" class="form-control" id="material-devolvido-legenda" name="material_devolvido_legenda" value="Material devolvido após exame.">
        </div>
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="form-check form-group">
            <label for="contrapericia-imagem">Contraperícia</label>
            <input type="file" class="form-control-file" id="contrapericia-imagem" name="contrapericia_imagem" accept="image/*">
        </div>
        <div class="form-check form-group w-100">
            <label for="contrapericia-legenda">Legenda da imagem</label>
            <input type="text" class="form-control" id="contrapericia-legenda" name="contrapericia_legenda" value="Material separado para contraperícia.">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="conclusao">Conclusão</label>
    <textarea class="form-control" id="conclusao" name="conclusao" rows="4" placeholder="Digite a conclusão aqui..."></textarea>
</div>
    <button type="submit" class="btn btn-primary" id='enviar'>Enviar</button>
</form>



<script>















document.querySelector('#uploadGeneralImage').addEventListener('change', function(event) {
    const file = event.target.files[0];  // Captura o arquivo de imagem selecionado
    if (!file) return;  // Se não houver arquivo, não faz nada

    // Chama a função handleImageResize passando o arquivo
    handleImageResize(file, 'imageGeneralBase64');
});

document.querySelector('#uploadItemExaminatedImage').addEventListener('change', function(event) {
    const file = event.target.files[0];  // Captura o arquivo de imagem selecionado
    if (!file) return;  // Se não houver arquivo, não faz nada

    // Chama a função handleImageResize passando o arquivo
    handleImageResize(file, 'imageItemExaminatedBase64');
});


/*

 <input type="hidden" id="imageItemExaminatedBase64" name="imageItemExaminatedBase64[]">  <!-- Input invisível para armazenar a imagem em Base64 -->
                <input type="file" id = "uploadItemExaminatedImage" name="uploadItemExaminatedImage[]">
                <div class="form-check form-group flex-grow-1 mx-3 w-100">
                    <label for="imagem-legenda_item">Legenda da Imagem</label>
                    <input type="text" class="form-control" id="labelOfImgItemExaminatedReceived" name="labelOfImgItemExaminatedReceived[]" value="Material recebido.">
                </div>


*/



//const imgExamiatedItensToUpload = document.querySelectorAll('input[name="uploadItemExaminatedImage[]"]');









// Adicionar novos campos para pessoas envolvidas
document.getElementById('people-involved-container').addEventListener('click', function (event) {
    if (event.target.classList.contains('add-person')) {
        var container = document.getElementById('people-involved-container');
        var newPersonField = document.createElement('div');
        newPersonField.classList.add('form-group', 'd-flex', 'align-items-center');
        newPersonField.innerHTML = `
            <input type="text" name="people_involved[]" class="form-control people-involved" placeholder="Nome da Pessoa" required>
            <button type="button" class="btn btn-secondary ml-2 add-person">+</button>
            <button type="button" class="btn btn-danger ml-2 remove-person">-</button>
        `;
        container.appendChild(newPersonField);
        newPersonField.querySelector('input').focus();
    }
    if (event.target.classList.contains('remove-person')) {
        event.target.parentElement.remove();
    }
});

document.addEventListener('DOMContentLoaded', function() {
    updateItemHeaders();

function addItem() {
    itemPackagingSelected = '';
    itemMorphologySelected = '';
    itemExamResultSelected = '';
    const container = document.getElementById('item-container');
    const newItem = document.createElement('div');
    newItem.className = 'item-group form-group border p-3 mb-3';
    newItem.innerHTML = `
        <div class="mb-2 item-header-dark">
            <h5 name="item_header[]">Item n</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="packaging">Invólucro</label>
                <select name="packaging[]" class="packaging-select form-control">
                    <option value="">Selecione uma opção</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="morphology">Morfologia</label>
                <select name="morphology[]" class="morphology-select form-control">
                    <option value="">Selecione uma opção</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="massa-bruta">Massa Bruta (g)</label>
                <input type="number" step="0.01" name="massa_bruta[]" class="form-control" placeholder="Massa Bruta" required>
            </div>

            <div class="form-group col-md-3">
                <label for="massa-liquida">Massa Líquida (g)</label>
                <input type="number" step="0.01" name="massa_liquida[]" class="form-control" placeholder="Massa Líquida" required>
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <div class="d-flex flex-column">
                    <div class="form-check">
                        <input type="checkbox" name="devolvido[]" class="form-check-input" checked>
                        <label for="devolvido" class="form-check-label">Devolvido</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="contrapericia[]" class="form-check-input" checked>
                        <label for="contrapericia" class="form-check-label">Contraperícia</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="examresulting">Resdultado do Exame</label>
                <select name="examresulting[]" class="exam-resulting form-control">
                    <option value="">Selecione uma opção</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="lacre-entrada">Lacre de Entrada</label>
                <input type="text" name="lacre_entrada[]" class="form-control" placeholder="Lacre de Entrada" style="text-transform: uppercase;" required>
            </div>
            <div class="form-group col-md-3">
                <label for="lacre-saida">Lacre de Saída</label>
                <input type="text" name="lacre_saida[]" class="form-control" placeholder="Lacre de Saída" style="text-transform: uppercase;" required value="{{ lacre_saida }}">
            </div>
        </div>
        <div class="form-group">
            <label for="packagingAndMorphologiObservations">Invlócros e Morfologia</label>
            <textarea class="form-control" name="packagingAndMorphologiObservations[]" rows="3" placeholder="Texto exibido no laudo."></textarea>
        </div>
        <div class="form-group">
            <label for="resultOfExams">Resultado dos Exames</label>
            <textarea class="form-control" name="resultOfExams[]" rows="3" placeholder="Texto exibido no laudo."></textarea>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">






            <input type="hidden" name="imageItemExaminatedBase64[]" calss="imageItemExaminatedBase64Input">  <!-- Input invisível para armazenar a imagem em Base64 -->
            <input type="file" name="uploadItemExaminatedImage[]" class="uploadItemExaminatedImageInput">
            <div class="form-check form-group flex-grow-1 mx-3 w-100">
                <label for="imagem-legenda_item">Legenda da Imagem</label>
                <input type="text" class="form-control" name="labelOfImgItemExaminatedReceived[]" value="Item examinado.">
            </div>






            <button type="button" class="btn btn-secondary add-item">+</button>
            <button type="button" class="btn btn-danger ml-2 remove-item">-</button>
        </div>
    `;
    container.appendChild(newItem);
    const newSelectPac = newItem.querySelector('.packaging-select');
    populateSelectPac(newSelectPac);

    const newSelectMorph = newItem.querySelector('.morphology-select');
    populateSelectMorph(newSelectMorph);

    const newSelectExamREsulting = newItem.querySelector('.exam-resulting');
    populateSelectExamResulting(newSelectExamREsulting);

    // Adiciona event listeners aos novos botões
    newItem.querySelector('.add-item').addEventListener('click', addItem);
    newItem.querySelector('.remove-item').addEventListener('click', function() {
        newItem.remove();
        updateItemHeaders();
    });

    const hiddenInputFile = newItem.querySelector('.imageItemExaminatedBase64Input');

    // Adiciona o event listener ao input de upload de imagem
    newItem.querySelector('.uploadItemExaminatedImageInput').addEventListener('change', function(event) {
        const file = event.target.files[0];  // Obtém o arquivo selecionado
        if (!file) {
            alert('nenhum arquivo selecionado');
            return;  // Se nenhum arquivo foi selecionado, sai da função
        }
        alert(`O arquivo foi selecionado ${file.name}`)
    
        // Chama a função para redimensionar a imagem e passar o resultado ao input hidden
        handleImageResize(file, hiddenInputFile);
    });

    updateItemHeaders();
}
    
    // Inicializa event listeners no item original

    /*
    
    document.querySelector('#uploadItemExaminatedImage').addEventListener('change', function(event) {
    const file = event.target.files[0];  // Captura o arquivo de imagem selecionado
    if (!file) return;  // Se não houver arquivo, não faz nada

    // Chama a função handleImageResize passando o arquivo
    handleImageResize(file, 'imageItemExaminatedBase64');
});
    
    */



    document.querySelector('.add-item').addEventListener('click', addItem);
    document.addEventListener('click', function(event) {
        if (event.target.matches('.remove-item')) {
            if (document.querySelectorAll('.item-group').length > 1) {
                event.target.closest('.item-group').remove();
            }
        }
    });    
});

// VARIÁVEIS QUE IRÃO PREENCHER O TEXTAREA DE ACORDO COM A ESCOLHA DO USUÁRIO
let itemPackagingSelected = '';
let itemMorphologySelected = '';
let itemExamResult = '';

// COMBOBOXES COM A DESCRIÇÃO DAS EMBALAGENS
const packaging = {{ packaging|safe }};
function populateSelectPac(selectElement) {
    selectElement.innerHTML = '';
    for (const key in packaging) {
        const option = document.createElement('option');
        option.value = key;
        option.text = key;
        selectElement.appendChild(option);
    }
    selectElement.addEventListener('change', function() {
        updateObservations(selectElement, packaging[selectElement.value]);
    });
}

// COMBOBOXES COM AS MORFOLOGIAS
const morphology = {{ morphology|safe }};
function populateSelectMorph(selectElement) {
    selectElement.innerHTML = '';
    for (const key in morphology) {
        const option = document.createElement('option');
        option.value = key;
        option.text = key;
        selectElement.appendChild(option);
    }
    selectElement.addEventListener('change', function() {
        updateObservations(selectElement, morphology[selectElement.value]);
    });
}

// COMBOBOXES COM AS OPÇÕES DE RESULTADOS.
const examresulting = {{ exam_resulting|safe }};
function populateSelectExamResulting(selectElement) {
    selectElement.innerHTML = '';
    for (const key in examresulting) {
        const option = document.createElement('option');
        option.value = key;
        option.text = key;
        selectElement.appendChild(option);
    }
    selectElement.addEventListener('change', function() {
        updateObservations(selectElement, examresulting[selectElement.value]);
    });
}
document.querySelectorAll('select[name="packaging[]"]').forEach(populateSelectPac);
document.querySelectorAll('select[name="morphology[]"]').forEach(populateSelectMorph);
document.querySelectorAll('select[name="examresulting[]"]').forEach(populateSelectExamResulting);

function updateObservations(selectElement, selectedValue) {
    const selectName = selectElement.name;
    if (selectName === 'packaging[]') {
        itemPackagingSelected = selectedValue;
    } else if (selectName === 'morphology[]') {
        itemMorphologySelected = selectedValue;
    }
    else if (selectName === 'examresulting[]') {
        itemExamResult = selectedValue;
        itemExamResultSelected = itemExamResult.trim();
    }

    const parentContainer = selectElement.closest('div.form-row').parentElement;

    // Atualiza o textarea "packagingAndMorphologiObservations[]"
    const textarea = parentContainer.querySelector('textarea[name="packagingAndMorphologiObservations[]"]');
    if (textarea) {
        textarea.value = `${itemPackagingSelected} ${itemMorphologySelected}`;
    }

    // Atualiza o textarea "resultOfExams[]"
    const returnTextarea = parentContainer.querySelector('textarea[name="resultOfExams[]"]');
    if (returnTextarea) {
        returnTextarea.value = itemExamResult;
    }
}

function updateItemHeaders() {
    const items = document.querySelectorAll('h5[name="item_header[]"');    
    const count = items.length;    
    if (count === 1) {
        items[0].innerHTML = 'Item Único';
    } else {
        items.forEach((item, index) => {
            item.innerHTML = `Item ${index + 1}`;
        });
    }
}







// IMAGEM DO MATERIAL RECEBIDO

/*
const allMaterialImg = document.querySelector('#imgOfAllMaterialReceived');
let selectedAllMaterialImg = null;
allMaterialImg.addEventListener('change', function(event) {
    const files = event.target.files;
    if (files.length > 0) {
        selectedAllMaterialImg = files[0];
    }
});

*/







document.addEventListener('DOMContentLoaded', function() {
    const submitButton = document.querySelector('#enviar');
    const form = document.querySelector('#drug-report-form');

    if (!form) {
        console.error('Formulário não encontrado!');
        return;
    }










    submitButton.addEventListener('click', function(event) {
        event.preventDefault();  // Evita o envio automático do formulário
        if(!formCheking()){
            return;
        }else{  
            alert('Formulário foi verificado');
            form.submit();  // Submete o formulário manualmente após validação
        };
    });
});











function formCheking(){
    let protocol = document.querySelector('#protocolo').value;
    if (protocol.trim() === '' || protocol === 'TOX') {
        alert('Valor para Protocolo inválido.');
        document.querySelector('#protocolo').value = 'TOX';
        document.querySelector('#protocolo').focus();
        return false;
    }       

    let policereport = document.querySelector('#boletim').value;
    if (policereport.trim() === ''){
        alert('Valor para Boletim inválido.')
        document.querySelector('#boletim').value = '';
        document.querySelector('#boletim').focus();
        return false;
    }

    let policestation = document.querySelector('#delegacia').value;
    if (policestation.trim() === ''){
        alert('Valor para Delegacia inválido.')
        document.querySelector('#delegacia').value = '';
        document.querySelector('#delegacia').focus();
        return false;
    }

    let authority = document.querySelector('#autoridade_requisitante').value;
    if (authority.trim() === ''){
        alert('Valor para Autoridade Requisitante inválido.')
        document.querySelector('#autoridade_requisitante').value = '';
        document.querySelector('#autoridade_requisitante').focus();
        return false;
    }

    let serviceDate, serviceHour, releaseDate, releaseHour;
    try {
        serviceDate = new Date(document.querySelector('#data_atendimento').value);
        if (isNaN(serviceDate.getTime())) {
            throw new Error('Data de atendimento inválida.');
        }
    } catch (error) {
        alert(`${error.message}`);
        document.querySelector('#data_atendimento').focus();
        return false;
    }
    
    try {
        serviceHour = new Date(`1970-01-01T${document.querySelector('#hora_atendimento').value}:00`);
        if (isNaN(serviceHour.getTime())) {
            throw new Error('Hora de atendimento inválida.');
        }
    } catch (error) {
        alert(`${error.message}`);
        document.querySelector('#hora_atendimento').focus();
        return false;
    }
    
    try {
        releaseDate = new Date(document.querySelector('#data_liberacao').value);
        if (isNaN(releaseDate.getTime())) {
            throw new Error('Data de liberação inválida.');
        }
    } catch (error) {
        alert(`${error.message}`);
        document.querySelector('#data_liberacao').focus();
        return false;
    }
    
    try {
        releaseHour = new Date(`1970-01-01T${document.querySelector('#hora_liberacao').value}:00`);
        if (isNaN(releaseHour.getTime())) {
            throw new Error('Hora de liberação inválida.');
        }
    } catch (error) {
        alert(`${error.message}`);
        document.querySelector('#hora_liberacao').focus();
        return false;
    }
    
    // Verifica se a data de acionamento é inferior à de liberação
    if (!beforeThan(serviceDate, serviceHour, releaseDate, releaseHour)) {
        alert('A data e hora do acionamento devem ser anteriores à data e hora da liberação.');
        document.querySelector('#data_atendimento').focus();
        return false;
    }
    
    // Função que compara datas e horas
    function beforeThan(serviceDate, serviceHour, releaseDate, releaseHour) {
        const serviceDateTime = new Date(serviceDate);
        serviceDateTime.setHours(serviceHour.getHours(), serviceHour.getMinutes());
    
        const releaseDateTime = new Date(releaseDate);
        releaseDateTime.setHours(releaseHour.getHours(), releaseHour.getMinutes());
    
        return serviceDateTime < releaseDateTime;
    }
    

    let allSubstances = [];
    const checkboxes = document.querySelectorAll('input[name="substance[]"]');
    checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
            allSubstances.push(checkbox.value);
        }
    });

    if (allSubstances.length === 0) {
        alert('Nenhuma substância foi selecionada.');
        if (checkboxes.length > 0) {
            checkboxes[0].focus();
        }
        return false;
    }

    let materialReceivedObservations = document.querySelector('#allMaterialObservations').value.trim();
    
    //let labelAllMaterialImg = document.querySelector('#labelOfImgOfAllMaterialReceived').value;  

    let people_involved = document.querySelectorAll('input[name="people_involved[]"]');
    let listOfEnvolvedPeople = [];
    let firstEmptyInput = null;    
    people_involved.forEach(person => {
        person.value = person.value.trim();    
        if (person.value) {
            person.value = toNiceName(person.value);
            listOfEnvolvedPeople.push(toNiceName(person.value));
        } else if (!firstEmptyInput) {
            firstEmptyInput = person;
        }
    });
    if (listOfEnvolvedPeople.length === 0) {
        alert('Preencha pelo menos um campo para o nome de pessoa envolvida.');        
        if (firstEmptyInput) {
            firstEmptyInput.focus();
            return false;
        }
    }
    let packaging = document.querySelectorAll('select[name="packaging[]"]');    
    let numberOfItems = packaging.length;
    let grossMass = document.querySelectorAll('input[name="massa_bruta[]"]');
    let liquidMass = document.querySelectorAll('input[name="massa_liquida[]"]');

//  IMPLEMENTAR AS VERIIFCAÇÕES NECESSÁRIAS DOS INPUTS
















    


    for (let i = 1; i <= numberOfItems; i++) {
        // TRATAR OS IMPUTS AQUI
        if (grossMass[i - 1].value === ''){
            alert('Campo Massa Bruta não pode estar vazio.');
            grossMass[i - 1].focus();
            return false;
        }
        if (liquidMass[i - 1].value === ''){
            alert('Campo Massa Líquida não pode estar vazio.');
            liquidMass[i - 1].focus();
            return false;
        }
        grossMass[i - 1].value = grossMass[i - 1].value.replace(',', '.');
        liquidMass[i - 1].value = liquidMass[i - 1].value.replace(',', '.');

        if (parseFloat(grossMass[i - 1].value) < parseFloat(liquidMass[i - 1].value)) {
            alert('Massa Bruta não pode ser inferior a Massa Líquida.');
            grossMass[i - 1].focus();
            return false;
        }                
    }

    // ATRIBUIR ÀS VARIÁVEIS / CRIAR E POPULAR AS LISTAS AQUI

    document.querySelector('#protocolo').value = formatStringWithYear(protocol, serviceDate);
    document.querySelector('#boletim').value = formatStringWithYear(policereport, serviceDate);
    document.querySelector('#autoridade_requisitante').value = toNiceName(authority);
    document.querySelector('#delegacia').value = toNiceName(policestation);

    let listItensLabels = [];
    let itemLabel = document.querySelectorAll('h5[name="item_header[]"]');    
    itemLabel.forEach(item => {
        listItensLabels.push(item.textContent);        
    });

    let listOfPackagings = [];
    packaging.forEach(packaging => {
        listOfPackagings.push(packaging.value);
    });

    let listOfMorphology = [];
    let morphology = document.querySelectorAll('select[name="morphology[]"]');
    morphology.forEach(morthology =>{
        listOfMorphology.push(morthology.value);
    });

    let listOfGrossMass = [];
    grossMass.forEach(grossmass =>{
        listOfGrossMass.push(grossmass.value);
    });

    let listOfLiquidMass = [];
    liquidMass.forEach(liquidMass =>{
        listOfLiquidMass.push(liquidMass.value);
    });

    let listOfReturned = [];
    let returned = document.querySelectorAll('input[name="devolvido[]"]');
    returned.forEach(returned =>{
        listOfReturned.push(returned.checked);
    });

    let listOfCounterProof = [];
    let counterproof = document.querySelectorAll('input[name="contrapericia[]"]');
    counterproof.forEach(counterproof =>{
        listOfCounterProof.push(counterproof.checked);
    });

    let listOfEntranceSeal = [];
    let entranceseal = document.querySelectorAll('input[name="lacre_entrada[]"]');
    entranceseal.forEach(entranceseal=>{
        listOfEntranceSeal.push(entranceseal.value);
    });

    let listOfExitseal = [];
    let exitseal = document.querySelectorAll('input[name="lacre_saida[]"]');
    exitseal.forEach(exitseal=>{
        listOfExitseal.push(exitseal.value);
    });

    let packagingAndMorphology = document.querySelectorAll('textarea[name="packagingAndMorphologiObservations[]"]');
    let listOfpackagingAndMorphology = [];
    packagingAndMorphology.forEach((packmorph, index) =>{
        listOfpackagingAndMorphology.push(`("Item ${index + 1}":${packmorph.value.trim()})`);
    });

    let resultOfExams = document.querySelectorAll('textarea[name="resultOfExams[]"]');
    let listOfResultOfExams = [];
    resultOfExams.forEach((reusltOfExams) =>{
        listOfResultOfExams.push(`("Resultado das análises:":${reusltOfExams.value.trim()})`);
    });

    // VERIFICAÇÃO PELO CONSOLE
    console.log(protocol);
    console.log(policereport);
    console.log(policestation);
    console.log(authority);
    console.log(serviceDate);
    console.log(serviceHour);
    console.log(releaseDate);
    console.log(releaseHour);
    console.log(allSubstances);
    console.log(materialReceivedObservations);
    console.log(listOfEnvolvedPeople);
    console.log(listItensLabels);
    console.log(listOfPackagings);
    console.log(listOfMorphology);
    console.log(listOfGrossMass);
    console.log(listOfLiquidMass);
    console.log(listOfReturned);
    console.log(listOfCounterProof);
    console.log(listOfEntranceSeal);
    console.log(listOfExitseal);
    console.log(listOfpackagingAndMorphology);
    console.log(listOfResultOfExams);

    /*
        alert(`${protocol}\n${policeReport}\n
        ${policestation}\n${authority}\n${serviceDate}\n
        ${releaseDate}\n${serviceHour}\n${releaseHour}\n
        ${substances}\n${materialReceivedObservations}\n
        ${selectedAllMaterialImg}\n${labelAllMaterialImg}\n
        ${listOfEnvolvedPeople.join(', ')}\n${listOfPackagings.join(' ,')}\n
        ${listOfpackagingAndMorphology}`);
    */
    teste('Tudo ok até aqui');
    return true;
    
    // E ACABAR DE PREENCHER ESSA CAIXA DE DIÁLOGO        
    
}


</script>

{% endblock content %}
