{% extends "base.html" %}

{% block title %}Heder Report{% endblock title %}

{% block content %}
    <h2 class="titulo-2">Relatório Técnico Pericial</h2>

    <form id="header_report_form" method="post" action="{% url 'header_report' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" id="id-report" name="id_report" value={{ report.id }}>

        <div class="alert alert-warning">                   
            {{ msg_about_this_form_to_user | safe }}
        </div>

        <div class="form-group"> <!-- CONTAINER -->

            <div class="form-group">
                <label for="designated_date">Data da Designação</label>
                <input type="date" id="designated_date" name="designated_date" class="form-control text-uppercase" required value="{{ designated_date }}">
            </div>

            <div class="form-group">
                <label for="report_number">Número do Laudo</label>
                <input type="text" id="report_number" name="report_number" class="form-control" required value="{{ report.report_number }}">
            </div>

            <div class="form-group">
                <label for="protocol">Número do Protocolo</label>
                <input type="text" id="protocol" name="protocol" class="form-control" required value="{{ report.protocol_number }}">
            </div>

            <div class="form-group">
                <label for="occurrence_date">Data da Ocorrência</label>
                <input type="date" id="occurrence_date" name="occurrence_date" class="form-control text-uppercase" required value="{{ occurrence_date }}">
            </div>

            <div class="form-group">
                <label for="occurrence_time">Hora da Ocorrência</label>
                <input type="time" id="occurrence_time" name="occurrence_time" class="form-control text-uppercase" required value="{{ occurrence_time }}">
            </div>

            <div class="form-group">
                <label for="call_date">Data do Acionamento</label>
                <input type="date" id="call_date" name="call_date" class="form-control text-uppercase" required value="{{ activation_date }}">
            </div>

            <div class="form-group">
                <label for="call_time">Hora do Acionamento</label>
                <input type="time" id="call_time" name="call_time" class="form-control text-uppercase" required value="{{ activation_time }}">
            </div>

            <div class="form-group">
                <label for="service_date">Data do Atendimento</label>
                <input type="date" id="service_date" name="service_date" class="form-control text-uppercase" required value="{{ service_date }}">
            </div>

            <div class="form-group">
                <label for="service_time">Hora do Atendimento</label>
                <input type="time" id="service_time" name="service_time" class="form-control text-uppercase" required value="{{ service_time }}">
            </div>

            <div class="form-group">
                <label for="police_report_number">Número do Boletim</label>
                <input type="text" id="police_report_number" name="police_report_number" class="form-control text-uppercase" required value="{{ report.police_report_number }}">
            </div>

            <div class="form-group">
                <label for="police_station">Delegacia</label>
                <input type="text" id="police_station" name="police_station" class="form-control" required value="{{ report.police_station }}">
            </div>

            <div class="form-group">
                <label for="requesting_authority">Autoridade Requisitante</label>
                <input type="text" id="requesting_authority" name="requesting_authority" class="form-control" required value="{{ report.requesting_authority }}">
            </div>

            <div class="form-group">
                <label for="examination_objective">Objetivo do Exame</label>
                <input type="text" id="examination_objective" name="examination_objective" class="form-control" required value="{{ report.examination_objective }}">
            </div>

            <div class="form-group">
                <label for="incident_nature">Natureza da Ocorrência</label>
                <input type="text" id="incident_nature" name="incident_nature" class="form-control" required value="{{ report.incident_nature }}">
            </div>

        </div>  <!-- CONTAINER -->
        <button type="button" class="btn btn-secondary" id="clear_form">Limpar Formulário</button>
        <button type="button" class="btn btn-danger" onclick="window.history.back();">Cancelar</button>
        <button type="submit" class="btn btn-primary" id='send_header'>Salvar</button>

    </form>

{% endblock content %}


{% block scripts %}

    <script>
        //Variáveis
        checking_this_form = false;

        //Atributos
        const header_report_form = document.querySelector('#header_report_form');
        const id_report = document.querySelector('#id-report');
        const designated_date = document.querySelector('#designated_date');
        const report_number = document.querySelector('#report_number');
        const protocol = document.querySelector('#protocol');
        const occurrence_date = document.querySelector('#occurrence_date');
        const occurrence_time = document.querySelector('#occurrence_time');
        const call_date = document.querySelector('#call_date');
        const call_time = document.querySelector('#call_time');
        const service_date = document.querySelector('#service_date');
        const service_time = document.querySelector('#service_time');
        const police_report_number = document.querySelector('#police_report_number');
        const police_station = document.querySelector('#police_station');
        const requesting_authority = document.querySelector('#requesting_authority');
        const examination_objective = document.querySelector('#examination_objective');
        const incident_nature = document.querySelector('#incident_nature');
        const submitButton = document.querySelector('#send_header');

        //Eventos
        report_number.addEventListener('change', (event)=>{
            report_number.value = formatStringWithYear(report_number.value, designated_date.value);
        });

        protocol.addEventListener('change', (event)=>{
            protocol.value = formatStringWithYear(protocol.value, designated_date.value);
        });

        police_report_number.addEventListener('change', (event)=>{
            police_report_number.value = formatStringWithYear(police_report_number.value, designated_date);
        });

        police_station.addEventListener('change', (event)=>{
            police_station.value = toNiceName(police_station.value);
        });

        requesting_authority.addEventListener('change', (event)=>{
            requesting_authority.value = toNiceName(requesting_authority.value);
        });


        //Verificação do formulário
        function formCheking(){
            if (requesting_authority.value === ''){
                alert('Prencha do campo Autoridade Requisitante.');
                console.log('Campo Autoridade Requisitante é obrigatório.')
                requesting_authority.focus();
                return;
            }
            if (protocol.value ===''){
                alert('Campo Número do Protocolo é obrigatório.');
                console.log('Campo Número do Protocolo é obrigatório.');
                protocol.focus();
                return;
            }
            return true;            
        }


        submitButton.addEventListener('click', function(event) {
            event.preventDefault();  
            if(!formCheking()){
                console.log(`Formunário não enviado, necessário preencher campos obrigatórios.`)
                return;
            }else{  
                header_report_form.submit();
                console.log(`Fomulário enviado com sucesso.`)

                /*  
                setTimeout(function() {
                    window.location.href = "{% url 'index' %}";
                }, 5000);
                */
                
            };
        });

    </script>
{% endblock scripts %}