<!-- myreportapp/image_editor.html -->


{% extends 'base.html' %}

{% load static %}

{% block center_content %}
<div class="toolbar fixed-top">
    <button id="newImageBtn" title="Nova Imagem">
        <i class="fas fa-image"></i>
    </button>
    <button id="rotateClockwiseBtn" title="Rotacionar Horário">
        <i class="fas fa-redo"></i>
    </button>
    <button id="rotateCounterClockwiseBtn" title="Rotacionar Anti-Horário">
        <i class="fas fa-undo"></i>
    </button>
    <button id="zoomInBtn" title="Zoom In">
        <i class="fas fa-search-plus"></i>
    </button>
    <button id="panBtn" title="Pan">
        <i class="fas fa-arrows-alt"></i>
    </button>
    <button id="cropBtn" title="Crop">
        <i class="fas fa-crop"></i>
    </button>
    <!-- Separador -->
    <span class="separator"></span>
    <!-- Caixa de texto para inserir números -->
    <input type="number" id="numberInput" title="Inserir Número" value="1" min="1" maxlength="2" placeholder="00" style="width: 50px;">
    <button id="markerBtn" title="Inserir Marcador">
        <i class="fas fa-hashtag"></i> <!-- Alterado para numeral -->
    </button>
    <!-- Caixa de texto para inserir texto -->
    <input type="text" id="textInput" title="Inserir Texto" maxlength="40" placeholder="Texto" style="width: 150px;">
    <button id="textBtn" title="Adicionar Texto">
        <i class="fas fa-font"></i> <!-- Ícone para texto -->
    </button>
    <button id="arrowBtn" title="Adicionar Seta">
        <i class="fas fa-long-arrow-alt-down"></i> <!-- Ícone de seta -->
    </button>
    <!-- Substituição do ícone de desfazer -->
    <button id="undoBtn" title="Desfazer">
        <i class="fas fa-history"></i> <!-- Novo ícone para desfazer -->
    </button>
</div>


<div class="canvas-container">
    <canvas id="display-image" width="800" height="600"></canvas>
</div>

<hr>

<img id="optimizedImage" src="" alt="Imagem otimizada">
<div id="overlayDiv"></div>


{% endblock center_content %}

{% block scripts %}
<script type="module" src="{% static 'js/image_editor1.js' %}"></script>
<script type="module">
    const display_image = document.querySelector('#display-image');
    import ImageEditor from "{% static 'js/image_editor1.js' %}";

    const editor = new ImageEditor(display_image);

    document.querySelector('#newImageBtn').addEventListener('click', (event)=>{
        editor.selectImage();
    });

    document.querySelector('#zoomInBtn').addEventListener('click', (event)=>{
        editor.isZooming = true;
    });

    document.querySelector('#panBtn').addEventListener('click', (event)=>{
        editor.isDragging = true;
    });

    document.querySelector('#cropBtn').addEventListener('click', (event)=>{
        editor.isCropping = true;
    });

    document.querySelector('#rotateClockwiseBtn').addEventListener('click', (event)=>{
        editor.rotate_image(1);
    });

    document.querySelector('#rotateCounterClockwiseBtn').addEventListener('click', (event)=>{
        editor.rotate_image(-1);
    });

    document.querySelector('#markerBtn').addEventListener('click', (event)=>{
        editor.isMarking = true;
    });

    document.querySelector('#numberInput').addEventListener('change', (event) => {
        editor.lastMarkNumber = event.target.value - 1;
    });

    document.querySelector('#textBtn').addEventListener('click', (event)=>{
        editor.isLabeling = true;
    });

    document.querySelector('#arrowBtn').addEventListener('click', (event)=>{
        editor.isPointing = true;
    });

    document.querySelector('#undoBtn').addEventListener('click', (event)=>{
        editor.apply();
    });

    
</script>
{% endblock scripts %}
