<!-- myreportapp/image_editor.html -->


{% extends 'base.html' %}

{% load static %}

{% block center_content %}
<div class="toolbar">
    <button id="newImageBtn" title="Nova Imagem">
        <i class="fas fa-image"></i>
        <span>Nova Imagem</span>
    </button>
    <button id="rotateClockwiseBtn" title="Rotacionar Horário">
        <i class="fas fa-redo"></i>
        <span>Rotacionar Horário</span>
    </button>
    <button id="rotateCounterClockwiseBtn" title="Rotacionar Anti-Horário">
        <i class="fas fa-undo"></i>
        <span>Rotacionar Anti-Horário</span>
    </button>
    <button id="zoomInBtn" title="Zoom In">
        <i class="fas fa-search-plus"></i>
        <span>Zoom In</span>
    </button>
    <button id="panBtn" title="Pan">
        <i class="fas fa-arrows-alt"></i>
        <span>Mover</span>
    </button>
    <button id="cropBtn" title="Crop">
        <i class="fas fa-crop"></i>
        <span>Crop</span>
    </button>
    <button id="undoBtn" title="Desfazer">
        <i class="fas fa-undo-alt"></i>
        <span>Desfazer</span>
    </button>
</div>

<div id="canvas-container" class="canvas-container">
    <canvas id="visible_image" width="800px" height="800px"></canvas>
</div>

<hr>

{% endblock center_content %}

{% block scripts %}
<script type="module" src="{% static 'js/image_editor.js' %}"></script>
<script type="module">

    import ImageEditor from "{% static 'js/image_editor.js' %}";

    const visibleImage = document.querySelector('#visible_image');

    

    const editor = new ImageEditor(visibleImage);
    
    document.querySelector('#newImageBtn').addEventListener('click', ()=>{
        editor.selectImage();
    });

    
</script>
{% endblock scripts %}
