<!-- myreportapp/image_editor.html -->


{% extends 'base.html' %}

{% load static %}

{% block center_content %}
<div class="toolbar">
    <button id="newImageBtn" title="Nova Imagem">
        <i class="fas fa-image"></i>
        <span>Nova Imagem</span>
    </button>
    <button id="rotateClockwiseBtn" title="Rotacionar Horário">
        <i class="fas fa-redo"></i>
        <span>Rotacionar Horário</span>
    </button>
    <button id="rotateCounterClockwiseBtn" title="Rotacionar Anti-Horário">
        <i class="fas fa-undo"></i>
        <span>Rotacionar Anti-Horário</span>
    </button>
    <button id="zoomInBtn" title="Zoom In">
        <i class="fas fa-search-plus"></i>
        <span>Zoom In</span>
    </button>
    <button id="cropBtn" title="Crop">
        <i class="fas fa-crop"></i>
        <span>Crop</span>
    </button>
    <button id="undoBtn" title="Desfazer">
        <i class="fas fa-undo-alt"></i>
        <span>Desfazer</span>
    </button>
</div>

<div class="canvas-container">
    <canvas id="display-image" width="800" height="600"></canvas>
</div>

<hr>

<img id="optimizedImage" src="" alt="Imagem otimizada">


{% endblock center_content %}

{% block scripts %}
<script type="module" src="{% static 'js/image_editor.js' %}"></script>
<script type="module">
    const display_image = document.querySelector('#display-image');
    import ImageEditor from "{% static 'js/image_editor.js' %}";

    const editor = new ImageEditor(display_image);

    document.querySelector('#newImageBtn').addEventListener('click', (event)=>{
        editor.selectImage();
    });

    document.querySelector('#rotateClockwiseBtn').addEventListener('click', (event)=>{
        editor.rotate(1);
    });

    document.querySelector('#rotateCounterClockwiseBtn').addEventListener('click', (event)=>{
        editor.rotate(-1);
    });

    
</script>
{% endblock scripts %}
