{% extends "base.html" %}

{% block title %}Módulos{% endblock title %}

{% block content %}
    <!-- Barra de ferramentas -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondNavbar" aria-controls="secondNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="secondNavbar">
                <div class="overflow-auto">
                    <ul class="navbar-nav flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_header_report' report.id %}">Relatório</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Declarações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'scene_preservation_report' report.id %}">Preservação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'property_report' report.id %}">Imóvel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Via Pública</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Veículo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Peça</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadáver</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <h2 class="titulo-2">Laudo {{ report.report_number }}</h2>
    <p>{{ report.makePreamble }}</p>
    <h3 class="titulo-2">Dados da Requisição de Exame</h3>
    <p>Boletim: {{ report.police_report_number }} | {{ report.police_station }}.</p>
    <p>Autordidade Requisitante: {{ report.requesting_authority }}.</p>
    <p>Data e hora da ocorrência: {{ occurrence_date }} às {{occurrence_time}}.</p>
    <p>Objetivo: {{ report.examination_objective }}</p>
    <p>Natureza: {{ report.incident_nature }}</p>
    <h3 class="titulo-2">Dados do Atendimento</h3>
    <p>Perito: {{ report.expert_display_name }}</p>

    {% if report.photographer %}
        <p>Fotografia: {{ report.photographer }}</p>
        <p>Data e hora do acionamento: {{ activation_date }} às {{activation_time}}.</p>
        <p>Data e hora do atendimento: {{ service_date }} às {{service_time}}.</p>

    {% endif %}

    <p>Registro de Entrada: {{ report.protocol_number }}</p>

    {% if property %}
        <h3 class="titulo-2">Descrição e Exame do Local</h3>
        {% if scene_preservation %}
            <h4 class="titulo-2">Preservação</h4>
            <p>{{ scene_preservation.description|linebreaks }}</p>
        {% endif %}
        {% if property %}
            <h4 class="titulo-2">{{ property.title }}</h4>
            <h5 class="titulo-2">{{ property.subtitle }}</h5>
            <p>{{ property.description|linebreaks }}</p>

            <!-- Exibe a imagem -->
            {% if property.image %}
                <img src="{{ property.image.url }}" alt="Imagem do imóvel" class="img-fluid img-report">
                <div class="clearfix"></div> <!-- Limpa a flutuação para os próximos elementos -->
            {% endif %}

            <p class="legenda">{{ property.legend|linebreaks }}</p>
        {% endif %}
    {% endif %}


{% endblock content %}
