{% extends "base.html" %}

{% block title %}Módulos{% endblock title %}

{% block content %}
    <!-- Barra de ferramentas -->
    <div class="btn-group mb-3" role="group" aria-label="Barra de Ferramentas">
        <a href="{% url 'edit_header_report' report.id %}" class="btn btn-outline-primary">Relatório</a>
        <a href="#" class="btn btn-outline-primary">Declarações</a>
        <a href="#" class="btn btn-outline-primary">Imóvel</a>
        <a href="#" class="btn btn-outline-primary">Via Pública</a>
        <a href="#" class="btn btn-outline-primary">Veículo</a>
        <a href="#" class="btn btn-outline-primary">Peça</a>
        <a href="#" class="btn btn-outline-primary">Cadáver</a>
    </div>

    <h2 class="titulo-2">Laudo {{ report.report_number }}</h2>
    <p>{{ report.makePreamble }}</p>
    <h3 class="titulo-2">Dados da Requisição de Exame</h3>
    <p>Boletim: {{ report.police_report_number }} | {{ report.police_station }}.</p>
    <p>Autordidade Requisitante: {{ report.requesting_authority }}.</p>
    <p>Data e hora da ocorrência: {{ occurrence_date }} às {{occurrence_time}}.</p>
    <p>Objetivo: {{ report.examination_objective }}</p>
    <p>Natureza: {{ report.incident_nature }}</p>
    <h3 class="titulo-2">Dados do Atendimento</h3>
    <p>Perito: {{ report.expert_display_name }}</p>

    {% if report.photographer %}
        <p>Fotografia: {{ report.photographer }}</p>
    {% endif %}

    <p>Registro de Entrada: {{ report.protocol_number }}</p>

{% endblock content %}
