{% extends 'base.html' %}

{% block header-block %}
<div class="btn-toolbar overflow-auto" role="toolbar">
    <div class="btn-group me-2 toolbar" role="group">
        <a href="{% url 'report_dataheader' report_id %}" title="Dados do Atendimento.">
            <button>
                <i class="fas fa-pen"></i>
            </button>
        </a>
        <a href="{% url 'report_datapolicereport' report_id %}" title="Dados do Boletim de Ocorrência.">
            <button>
                <i class="fas fa-keyboard"></i>
            </button>
        </a>
        <a href="{% url 'report_datarequest' report_id %}" title="Dados da Requisição.">
            <button>
                <i class="fas fa-arrow-circle-right"></i>
            </button>
        </a>
        <a href="{% url 'report_preservation_new' report_id %}" title="Preservação do Local">
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </a>


        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-scroll"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-feather"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-landmark"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-folder-open"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-city"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-gem"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-clipboard"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-wrench"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-database"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-table"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-car"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-truck"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-gun"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-crosshairs"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-shield"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-shield-alt"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-bullseye"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-bomb"></i>
        </button>
        <button id="report_bo" title="Dados do Boleteim de Ocorrência">
            <i class="fas fa-fire"></i>
        </button>
    </div>
</div>
{% endblock header-block %}

{% block report-block %}
<h2 class="report-number">Laudo {{ report_number }}</h2>
<p class="report-preamble">{{ preamble }}</p>
{% if has_police_report %}
    <h3 class="report-title">Dados do Boletim</h3>
    <ul class="report-dotlist">
        <li><span class="dot-labelitem">Número do boletim:</span> {{ police_report_number }}</li>
        <li><span class="dot-labelitem">Distríto Policial:</span> {{ police_station }}</li>
        <li><span class="dot-labelitem">Natureza da Ocorrência:</span> {{ incident_nature }}</li>
        <li><span class="dot-labelitem">Data e Hora da Ocorrência:</span> {{ occurrence_date }}, às {{ occurrence_time }}</li>
    </ul>
{% endif %}
{% if has_authority_request %}
    <h3 class="report-title">Dados da Requisição</h3>
    <ul class="report-dotlist">
        <li><span class="dot-labelitem">Autoridade Requisitante:</span> {{ authority }}</li>
        <li><span class="dot-labelitem">Objetivo da Perícia:</span> {{ objective }}</li>
        <li><span class="dot-labelitem">Data e Hora do Acionamento:</span> {{ call_date }}, às {{ call_time }}</li>
    </ul>
{% endif %}
<h3 class="report-title">Dados do Atendimento</h3>
    <ul class="report-dotlist">
        <li><span class="dot-labelitem">Protocolo:</span> {{ protocol_number }}</li>
        <li><span class="dot-labelitem">Data e Hora do Atendimento:</span> {{ service_date }}, às {{ service_time }}</li>
        <li><span class="dot-labelitem">{{ expert_gender }}:</span> {{ expert_display_name }}</li>
        <li><span class="dot-labelitem">Fotografia:</span> {{ photographer }}</li>
    </ul>
    {% if preservations %}
        <h3 class="report-title">Preservação do Local</h3>
        {% for preservation in preservations %}
            <p>{{ preservation.preservation_team }}</p>
            <p><span class="dot-labelitem">Encarregado: </span>{{ preservation.officer_in_charge }}</p>
            <p><span class="dot-labelitem">Viatura: </span>{{ preservation.official_vehicle }}</p>
            {% if preservation.police_authority_present %}
                <p><span class="dot-labelitem">Autoridade Policial presente.</span></p>
            {% endif %}
            {% if reservation.investigation_team_present %}
                <p><span class="dot-labelitem">Equipe de Investigação presente. </span>{{ preservation.investigation_team_present }}</p>
            {% endif %}
            <p><span class="dot-labelitem">Contexto: </span>{{ preservation.general_context }}</p>            
        {% endfor %}
    {% endif %}
<h3 class="report-title">Localização</h3>
<h3 class="report-title">Descrição e Exame do Local</h3>
{% endblock report-block %}
