{% extends 'base.html' %}
{% block report-block %}
<div class="container mt-5 ml-5 mr-5">
    <form method="post" class="mx-auto" style="max-width: 800px;" onsubmit="return checkInputs();">
        {% csrf_token %}
        
        <!-- Equipe de Preservação -->
        <div class="form-group report-title">
            <input type="text" id="section" name="section" required class="form-control custom-input" value="{{ section }}" title="{{ section }}">
        </div>
        <div class="form-group">
            <label for="section">Equipe de Preservação:</label>
            <select id="preservation_team" name="preservation_team" required class="form-control custom-input">
            </select>
        </div>
        
        <!-- Encarregado -->
        <div class="form-group">
            <label for="officer_in_charge">Encarregado:</label>
            <input type="text" id="officer_in_charge" name="officer_in_charge" required class="form-control custom-input" value="{{ officer_in_charge }}">
        </div>
        
        <!-- Viatura -->
        <div class="form-group">
            <label for="official_vehicle">Viatura:</label>
            <input type="text" id="official_vehicle" name="official_vehicle" required class="form-control custom-input" value="{{ official_vehicle }}">
        </div>
        
        <!-- Autoridade Policial Presente -->
        <div class="form-group">
            <label for="police_authority_present">Autoridade Policial Presente:</label>
            <select id="police_authority_present" name="police_authority_present" required class="form-control custom-input">
                <option value="true" {% if police_authority_present == "true" %}selected{% endif %}>Sim</option>
                <option value="false" {% if police_authority_present == "false" %}selected{% endif %}>Não</option>
            </select>
        </div>
        
        <!-- Equipe de Investigação Presente -->
        <div class="form-group">
            <label for="investigation_team_present">Equipe de Investigação Presente:</label>
            <select id="investigation_team_present" name="investigation_team_present" required class="form-control custom-input">
                <option value="true" {% if investigation_team_present == "true" %}selected{% endif %}>Sim</option>
                <option value="false" {% if investigation_team_present == "false" %}selected{% endif %}>Não</option>
            </select>
        </div>
        
        <!-- Contexto Geral -->
        <div class="form-group">
            <label for="general_context">Contexto Geral:</label>
            <textarea id="general_context" name="general_context" required class="form-control custom-input" rows="4">{{ general_context }}</textarea>
        </div>

        <!-- Botões -->
        <div class="form-row">
            <div class="col">
                <button type="submit" id="submit_btn" class="btn btn-primary btn-block">
                    {% if post.id %}
                        Atualizar
                    {% else %}
                        Criar
                    {% endif %}
                </button>
            </div>
            <div class="col">
                <a href="{% url 'report_showreport' report_id %}" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#preservation_team').focus();

    const preservation_team = document.querySelector('#preservation_team');
    const preservationTeam = {
        'Selecione': '',
        'Sem equipe': 'No local não havia equipe de preservação.',
        'PM': 'Local preservado por equipe da Polícia Militar',
        'PMR': 'Local preservado por equipe da Polícia Militar Rodoviária',
        'GCM': 'Local preservado por equipe da Guarda Civil Municipal',
        'PC': 'Local preservado por equipe da Polícia Civil',
        'PRF': 'Local preservado por equipe da Polícia Rodoviária Federal',
        'CBM': 'Local preservado por equipe do Corpo de Bombeiros Militar',
        'PF': 'Local preservado por equipe da Polícia Federal',
        'Forças Armadas': 'Local preservado por equipe das Forças Armadas',
        'Agentes de Trânsito': 'Local preservado por agentes de trânsito'
    };
    for (const [key, value] of Object.entries(preservationTeam)) {
        const option = document.createElement('option');
        option.value = value;  
        option.textContent = key;
        preservation_team.appendChild(option);
    }

</script>
{% endblock scripts %}
