{% extends 'base.html' %}
{% block center_content %}
<div class="container mt-5 ml-5 mr-5">
    <h2 class="mb-4 text-center pl-4 pr-4">Dados Gerais</h2>
    <div class="alert alert-dark" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <span>Os dados abaixo são preenchidos automaticamente com base nas informações cadastradas no perfil do usuário, mas podem ser alterados, se necessário. As alterações feitas aqui terão efeito apenas neste relatório.</span>
      </div>
      
         
    <form method="post" class="mx-auto" style="max-width: 600px;" onsubmit="return checkInputs();">
        {% csrf_token %}
        <div class="form-group">
            <input type="checkbox" id="toNiceText" checked><label for="toNiceText" class="pl-3">Ajustar textos?</label>
        </div>
        <div class="form-group">
            <label for="expert_display_name">Perito:</label>
            <input type="text" id="expert_display_name" name="expert_display_name" required class="form-control custom-input" value="{{ expert_display_name }}"> 
        </div>
        <div class="form-group">
            <label for="institute_director">Diretor do Instituto de Criminalística:</label>
            <input type="text" id="institute_director" name="institute_director" required class="form-control custom-input" value="{{ institute_director }}">
        </div>
        <div class="form-group">
            <label for="institute_unit">Unidade:</label>
            <input type="text" id="institute_unit" name="institute_unit" required class="form-control custom-input" value="{{ institute_unit }}">
        </div>
        <div class="form-group">
            <label for="forensic_team_base">Equipe:</label>
            <input type="text" id="forensic_team_base" name="forensic_team_base" required class="form-control custom-input" value="{{ forensic_team_base }}">
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" id="submit_btn" class="btn btn-primary btn-block">
                    Alterar
                </button>
            </div>
            <div class="col">
                <a href="{% url 'report_showreport' report_id %}" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    const toNiceText = document.querySelector('#toNiceText'); 

    expert_display_name.focus();

    document.querySelector('#expert_display_name').addEventListener('change', (e) => {
        if(toNiceText.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });
    document.querySelector('#institute_director').addEventListener('change', (e) => {
        if(toNiceText.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });
    document.querySelector('#institute_unit').addEventListener('change', (e) => {
        if(toNiceText.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });
    document.querySelector('#forensic_team_base').addEventListener('change', (e) => {
        if(toNiceText.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });

    function checkInputs() {
        const fields = [
            { id: 'expert_display_name', message: 'O nome do perito é obrigatório.' },
            { id: 'institute_director', message: 'O nome do diretor é obrigatório.' },
            { id: 'institute_unit', message: 'A unidade é obrigatória.' },
            { id: 'forensic_team_base', message: 'A equipe é obrigatória.' },
        ];
    }

</script>
{% endblock scripts %}
