{% extends 'base.html' %}
{% block center_content %}
<div class="container mt-5 ml-5 mr-5">
    <form method="post" class="mx-auto" style="max-width: 600px;" onsubmit="return checkInputs();">
        {% csrf_token %}
        <div class="form-group report-title">
            <input type="text" id="section_dataservice" name="section_dataservice" required class="form-control custom-input" value="{{ section_dataservice }}" title="{{ section_dataservice }}">
        </div>
        <div class="form-group">
            <input type="checkbox" id="to_nice_text" checked><label for="to_nice_text" class="pl-3">Ajustar textos?</label>
        </div>        
        <div class="form-group">
            <label for="designation_date">Data de Designação:</label>
            <input type="date" id="designation_date" name="designation_date" class="form-control custom-input" value="{{  designation_date }}">
        </div>
        <div class="form-group">
            <label for="report_number">Número do Laudo:</label>
            <input type="text" id="report_number" name="report_number" required class="form-control custom-input" value="{{ report_number }}">
        </div>
        <div class="form-group">
            <label for="protocol_number">Número do Protocolo:</label>
            <input type="text" id="protocol_number" name="protocol_number" required class="form-control custom-input" value="{{ protocol_number }}">
        </div>
        <div class="form-group">
            <label for="service_date">Data de Atendimento:</label>
            <input type="date" id="service_date" name="service_date" class="form-control custom-input" value="{{ service_date }}">
        </div>
        <div class="form-group">
            <label for="service_time">Horário do Atendimento:</label>
            <input type="time" id="service_time" name="service_time" class="form-control custom-input" value="{{ service_time }}">
        </div>
        <div class="form-group">
            <label for="photographer">Fotografia:</label>
            <input type="text" id="photographer" name="photographer" class="form-control custom-input" value="{{ report_photographer }}">
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" id="submit_btn" class="btn btn-primary btn-block">
                    {% if report_id %}
                        Atualizar
                    {% else %}
                        Criar
                    {% endif %}
                </button>
            </div>
            <div class="col">
                <a href="{% url 'report_showreport' report_id %}" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    const section_dataservice = document.querySelector('#section_dataservice')
    const to_nice_text = document.querySelector('#to_nice_text');
    const report_number = document.querySelector('#report_number');
    const protocol_number = document.querySelector('#protocol_number');
    const photographer = document.querySelector('#photographer');
    const service_date = document.querySelector('#service_date');
    const service_time = document.querySelector('#service_time');
    const designation_date = document.querySelector('#designation_date');

    designation_date.focus();

    section_dataservice.addEventListener('change', (e) => {
        if(to_nice_text.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });
    
    report_number.addEventListener('change', (e)=>{
        if(to_nice_text.checked){
            e.target.value = adjustProtocol(e.target.value, designation_date.value);
        }
    });

    protocol_number.addEventListener('change', (e)=>{
        if(to_nice_text.checked){
            e.target.value = adjustProtocol(e.target.value, designation_date.value);
        }
    });

    photographer.addEventListener('change', (e) => {
        if(to_nice_text.checked){
            e.target.value = toNiceName(e.target.value);
        }
    });

    /*
    designation_date.addEventListener('blur', (e) => {    
        report_number.value = adjustProtocol(report_number.value, designation_date.value);
        protocol_number.value = adjustProtocol(protocol_number.value, designation_date.value);
    });    
    */

    function checkInputs() {
        
        if(!validDate(designation_date.value)){
            alert('Data inválida!');
            designation_date.focus();
            return false;
        }

        if(!validDate(service_date.value)){
            alert('Data inválida!');
            service_date.focus();
            return false;
        }

        if(!validHour(service_time.value)){
            alert('Hora inválida!');
            service_time.focus();
            return false;
        }

        return true;
    }

</script>
{% endblock scripts %}
