# ============================================
# PYTHON
# ============================================
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
env/
venv/

# Arquivos temporários
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.tmp
*.temp
*.cache
*.rej

# ============================================
# DJANGO
# ============================================
# Arquivos de migrações geradas automaticamente
*/migrations/*
!*/migrations/__init__.py

# Arquivos estáticos coletados
staticfiles/
static/

# Pasta onde ficam as imagens dos usuários
users/

# Arquivos de mídia gerados pelo usuário
media/

# Arquivos de banco de dados locais
db.sqlite3
*.sqlite3

# Local settings
local_settings.py

# ============================================
# SCRIPTS / ARTEFATOS GERADOS
# ============================================
# Arquivos gerados por scripts de árvore de diretórios
tree_dirs.txt
folders_and_files.txt
**/tree_dirs.txt
**/folders_and_files.txt

# ============================================
# EDITORES
# ============================================

# VSCode
.vscode/
.history/
.code-workspace

# PyCharm / JetBrains IDE
.idea/
*.iml

# ============================================
# SISTEMA
# ============================================
.DS_Store
Thumbs.db

# ============================================
# BACKUP / BUILD
# ============================================
dist/
build/
*.egg-info/
.eggs/
*.bak

# ============================================
# GIT / GITHUB
# ============================================
*.orig

# ============================================
# OUTROS
# ============================================
# Arquivos de ambiente (dotenv)
.env
.env.*
*.env
