# gitignore

.env

venv/

.vscode/
.idea/

db.sqlite3

**/migrations/*.pyc
**/migrations/__pycache__

*.log

*.pyc
__pycache__/


*.egg
*.egg-info/
dist/
build/
.eggs/

*~
*.swp

.DS_Store
Thumbs.db

*.bak
*.swp
*.swo

*.pptx
