{% extends 'base.html' %}

{% block center_content %}
    <section class="posts">
        {% for post in posts %}
            <article class="post ">
                <img src="{{ post.author.profile_picture.url }}" class="post-authorimg" alt="">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-content">{{ post.content | linebreaksbr }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Imagem relacionada à postagem: {{ post.title }}" class="post-image">
                {% else %}
                    <p class="no-image">Essa postagem não possui uma imagem.</p>
                {% endif %}
                <div class="container mb-0 mt-0 pt-0 pb-0">
                    <!-- Título do Post -->
                    <p>{{ post }}</p>
                    <!-- Linha para Contador e Botões -->
                    <div class="container mt-0 pt-0">
                        <!-- Contador -->
                        <span id="likes-count-{{ post.id }}">{{ post.liked_by_users.count }}</span>
                        <!-- Botões -->
                        {% if post not in user.liked_posts.all %}
                            <a href="javascript:void(0);" 
                                class="unliked" 
                                title="Curtir" 
                                onclick="toggleLike({{ post.id }}, this)"
                                data-url="{% url 'liked_post' post.id %}">
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                        {% else %}
                            <a href="javascript:void(0);" 
                                class="liked" 
                                title="Descurtir" 
                                onclick="toggleLike({{ post.id }}, this)"
                                data-url="{% url 'liked_post' post.id %}">
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                        {% endif %}

                        <a href="#comment-section-{{ post.id }}" 
                            class="create-comment-link" 
                            title="Comentar" 
                            id="show-comment-section-{{ post.id }}">
                            <i class="fas fa-comment-dots"></i>
                        </a>
                        

                        {% if request.user == post.author %}

                            <a href="{% url 'edit_post' post.id %}" 
                            class="create-post-link" 
                            title="Editar post">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a href="{% url 'delete_post' post.id %}" 
                            class="delete-post-link" 
                            title="Deletar post" 
                            onclick="return confirm('Tem certeza que deseja deletar esta postagem? Esta ação não pode ser desfeita.');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'hide_post' post.id %}" 
                            class="hide-post-link" 
                            title="Ocultar post" 
                            onclick="return confirm('Tem certeza que deseja ocultar esta postagem?');">
                                <i class="fas fa-eye-slash"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
<!-- Espaço para Comentários -->

<!-- Div de comentário oculta inicialmente -->
<div class="container mt-0 ml-3" id="comment-section-{{ post.id }}" style="display: none;">
    <!-- Formulário para enviar comentário -->
    <form method="POST" action="{% url 'save_comment' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Campo oculto para o post -->
        <input type="hidden" name="post" value="{{ post.id }}">

        <!-- Campo oculto para o autor -->
        <input type="hidden" name="author" value="{{ user.id }}">

        <!-- Campo de texto para o comentário -->
        <textarea name="content" class="form-control custom-input" placeholder="Digite seu comentário..." rows="3" required></textarea>

        <!-- Imagem escolhida pelo usuário -->
        <img id="selected-image-{{ post.id }}" src="" alt="Imagem escolhida" class="img-fluid mt-2" style="display: none;">

        <!-- Botões de ação -->
        <div class="d-flex justify-content-end align-items-center mt-2">
            <!-- Botão para escolher imagem -->
            <a href="#" class="choose-image-link mr-3" title="Escolher imagem">
                <label for="image-input-{{ post.id }}" style="cursor: pointer;">
                    <i class="fas fa-image"></i>
                </label>
            </a>
            <input type="file" id="image-input-{{ post.id }}" name="image" accept="image/*" style="display: none;">

            <!-- Link para salvar -->
            <a href="#" class="create-comment-link mr-3" title="Salvar comentário" onclick="this.closest('form').submit();">
                <i class="fas fa-save text-primary"></i>
            </a>

            <!-- Link para cancelar -->
            <a href="#" class="hide-post-link" title="Cancelar comentário" data-post-id="{{ post.id }}">
                <i class="fas fa-times text-secondary"></i>
            </a>
        </div>
    </form>
</div>



<!--Fim do espeço para comentários-->


<!-- div para exibir os comentários-->
         <!-- Exibir os comentários para o post -->
         <div class="comments">
            {% for comment in comments %} 
            {% if comment.post.id == post.id %}   
                <div class="comment-box border-start ps-3 mb-3"> 
                    <!--Essa imagem deve ficar a direita, mantenha a classe comment-authorimg-->
                    <div class="ps-1 mb-3 d-flex">
                        <img src="{{ comment.author.profile_picture.url }}" class="comment-authorimg mt-1" alt="", title="{{ comment.author.username }}">
                        <p class="comment-content ml-3 ">{{ comment.content | linebreaksbr }}</p>
                    </div>
                    
                    {% if comment.image %}
                        <img src="{{ comment.image.url }}" class="img-fluid mt-2 mb-1 ml-5 comment-image" alt="">
                    {% endif %}


<!-- Botões dos comentários -->

<div class="container mt-1 mb-2 pl-5">
    <!-- Contador de curtidas -->
<span id="commented-likes-count-{{ comment.id }}">
    {{ comment.commented_liked_by_users.count }}
</span>

<!-- Botão de curtir/descurtir -->
<a href="javascript:void(0);"
    class="{% if comment in user.liked_comments.all %}liked{% else %}unliked{% endif %}"
    title="{% if comment in user.liked_comments.all %}Descurtir{% else %}Curtir{% endif %} comentário {{ comment.id }}"
    onclick="toggleLikeComment({{ comment.id }}, this)"
    data-url="{% url 'liked_comment' comment.id %}">
    <i class="fas fa-thumbs-up"></i>
</a>
  
    
    <!-- Aqui acrescentar um link com ícone para deletar o comentário.
     somente estrá visivel para o autor do comentário ou o autor da postagem -->
    <!-- Botão de exclusão -->
    {% if comment.author == user or comment.post.author == user %}
        <a href="javascript:void(0);" 
            class="delete-comment-link" 
            title="Deletar comentário" 
            onclick="deleteComment({{ comment.id }}, this)"
            data-url="{% url 'delete_comment' comment.id %}">
            <i class="fas fa-trash text-danger"></i>
        </a>
    {% endif %}

</div>


<!-- fim dos botões dos comentários-->


                </div>
            {% endif %}   
            {% empty %}
                <p>Não há comentários ainda.</p>
            {% endfor %}
        </div>
        
                
                
                
                <br/>
                <hr class="post-divider">
            </article>
        {% empty %}
            <p>Não há postagens disponíveis no momento.</p>
        {% endfor %}
    </section>
{% endblock center_content %}


{% block scripts %}
    <script>

        document.addEventListener('click', function (event) {
            // Verifica se o clique foi em um elemento com a classe 'hide-post-link'
            if (event.target.closest('.hide-post-link')) {
                event.preventDefault(); // Evita o comportamento padrão do link
                
                const postId = event.target.closest('.hide-post-link').dataset.postId; // Obtém o ID do post
                const commentSection = document.getElementById(`comment-section-${postId}`);
                
                if (commentSection) {
                    commentSection.style.display = 'none'; // Oculta a div
                }
            }
        });
        


        document.querySelectorAll('.create-comment-link').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Evita o comportamento padrão do link
                const postId = this.id.split('-').pop(); // Extrai o ID do post
                const commentSection = document.getElementById(`comment-section-${postId}`);
                if (commentSection) {
                    commentSection.style.display = 'block'; // Exibe a div
                }
            });
        });

        function toggleLike(postId, element) {
            // Obtém a URL da requisição diretamente do atributo data-url do elemento
            const url = element.getAttribute('data-url') || `/liked_post/${postId}/`;

            // Envia a requisição AJAX para curtir/descurtir o post
            fetch(url, {
                method: 'POST', // Recomendado utilizar POST para ações como curtir/descurtir
                headers: {
                    'X-Requested-With': 'XMLHttpRequest', // Identifica que é uma requisição AJAX
                    'Content-Type': 'application/json',  // Certifica que a requisição envia JSON
                    'X-CSRFToken': getCSRFToken()       // Inclui o token CSRF necessário para POST
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                // Atualiza o número de curtidas
                const likesCount = data.likes_count;

                // Alterar o título do ícone dependendo do status de curtido ou descurtido
                if (element.classList.contains('liked')) {
                    element.classList.remove('liked');
                    element.classList.add('unliked');
                    element.title = "Curtir";
                    element.innerHTML = '<i class="fas fa-thumbs-up"></i>';
                } else {
                    element.classList.remove('unliked');
                    element.classList.add('liked');
                    element.title = "Descurtir";
                    element.innerHTML = '<i class="fas fa-thumbs-up"></i>';
                }

                // Atualiza o contador de curtidas na interface
                const likesCounter = document.querySelector('#likes-count-' + postId);
                if (likesCounter) {
                    likesCounter.innerText = likesCount;
                }
            })
            .catch(error => console.error('Erro ao tentar curtir/descurtir o post:', error));
        }

        // Inverte a curtida do comentário

        function toggleLikeComment(commentId, element) {
            const url = element.getAttribute('data-url') || `/liked_comment/${commentId}/`;
        
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const likesCount = data.comment_likes_count;
        
                if (element.classList.contains('liked')) {
                    element.classList.remove('liked');
                    element.classList.add('unliked');
                    element.title = "Curtir";
                    element.innerHTML = '<i class="fas fa-thumbs-up"></i>';
                } else {
                    element.classList.remove('unliked');
                    element.classList.add('liked');
                    element.title = "Descurtir";
                    element.innerHTML = '<i class="fas fa-thumbs-up"></i>';
                }
        
                const likesCounter = document.querySelector('#commented-likes-count-' + commentId);
                if (likesCounter) {
                    likesCounter.innerText = likesCount;
                }
            })
            .catch(error => console.error('Erro ao tentar curtir/descurtir o comentário:', error));
        }
        

        // Fim Inverte a curtida do comentário


        function deleteComment(commentId, element) {
            const url = element.getAttribute('data-url');
            if (confirm('Tem certeza que deseja deletar este comentário?')) {
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                })
                .then(response => {
                    if (response.ok) {
                        // Remove o comentário do DOM
                        const commentContainer = element.closest('.container');
                        if (commentContainer) {
                            commentContainer.remove();
                        }
                    } else {
                        response.json().then(data => {
                            alert(data.error || 'Erro ao deletar o comentário. Tente novamente.');
                        });
                    }
                })
                .catch(error => {
                    console.error('Erro na requisição:', error);
                    alert('Erro ao deletar o comentário. Tente novamente.');
                });
            }
        }
        


        // Função para obter o token CSRF (requerido pelo Django para requisições POST)
        function getCSRFToken() {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith('csrftoken='))
                ?.split('=')[1];
            return cookieValue || '';
        }



        document.querySelectorAll('[id^="image-input-"]').forEach(input => {
            input.addEventListener('change', function (event) {
                const postId = this.id.split('-').pop(); // Extrai o ID do post
                const imgElement = document.getElementById(`selected-image-${postId}`);
                const file = event.target.files[0];
        
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imgElement.src = e.target.result;
                        imgElement.style.display = 'block';
                    };
                    reader.readAsDataURL(file);
                }
            });
        });






    </script>

{% endblock scripts %}
