<!-- accountsapp/templates/complete_registration.html -->


{% extends "base.html" %}

{% load form_filters %}

{% block center_content %}
<div class="container mt-5">
    <h1 class="text-center">Complete seu Cadastro</h1>
    <p class="text-muted text-center">Preencha as informações adicionais para concluir seu cadastro.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control custom-input" }}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
    
</div>
{% endblock %}

