{% extends "base.html" %}

{% block center_content %}

    <div class="text-center mt-5">
        <h1 class="display-4">Cadastro Realizado com Sucesso!</h1>
        <p class="lead mt-4">
            Um e-mail de confirmação foi enviado para o endereço fornecido no momento do cadastro. 
            Para ativar sua conta e concluir o processo, siga as instruções no e-mail.
        </p>
        <p class="mt-3">
            Caso não encontre a mensagem na sua caixa de entrada, verifique também sua 
            <strong>caixa de spam</strong> ou os <strong>itens excluídos</strong>.
        </p>
        <p class="mt-4">
            Se você não receber o e-mail em alguns minutos, entre em contato com nosso suporte para assistência.
        </p>
    </div>

{% endblock center_content %}
