.titulo-2 {
    color: gray !important;
    margin-bottom: 30px !important;
    margin-top: 45px !important;
}

div.item-header-dark {
    /*background-color: #585353 !important;*/
    /* Cor de fundo escura, ajuste conforme necessário */
    /*color: #fefefe !important;*/
    /* Cor do texto para garantir que seja visível sobre o fundo escuro */
    padding: 10px;
    /* Ajuste o preenchimento conforme necessário */
    border-radius: 4px;
    /* Opcional: adicione bordas arredondadas */
}

.reports-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.report-image {
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.report-image:hover {
    border-color: #007bff;
}

.form-check-inline {
    margin-right: 15px;
    margin-top: 15px;
}

input::placeholder {
    color: rgb(43, 153, 226) !important;
}

textarea::placeholder {
    color: rgb(43, 153, 226) !important;
}

p.legenda {
    text-align: center; /* Centraliza o texto */
    font-family: Arial, sans-serif; /* Define a fonte como Arial */
    font-size: 12px; /* Define o tamanho da fonte como 12px */
    font-style: italic; /* Define o estilo como itálico */
    margin-top: 10px; /* Adiciona um espaço acima da legenda */
    color: #be1616; /* Cor de texto para melhor visibilidade */
}

/* Estilos para a imagem */
.img-report {
    display: block; /* Permite centralização em conjunto com margin */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    max-width: 16cm; /* Define a largura máxima de 12 cm */
    height: auto; /* Mantém a proporção da imagem */
    border: 1px solid black; /* Adiciona uma borda de 1px preta */
    padding: 0px; /* Adiciona um pequeno espaçamento interno entre a imagem e a borda */
    background-color: #fff; /* Fundo branco para destacar a imagem */
}
