/* Estilo básico para a barra de ferramentas */
.toolbar {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

.toolbar button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.toolbar button:hover {
    background-color: #ddd;
}

.toolbar button i {
    font-size: 24px;
}

.toolbar button span {
    display: block;
    font-size: 12px;
}

/* Estilo para o canvas */
canvas {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.canvas-container {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    background-color: #005599;
    width: 804px;
    height: 804px;
    margin: 0 auto; /* Opcional: Centraliza horizontalmente no corpo */
}